.contacts {
  height: 100%;
  display: flex;
  gap: 100px;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cTitle {
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.cTitle svg {
  position: absolute;
  top: -25px;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.cTitle::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: -30px;
  z-index: -1;
  width: 105%;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: center;
  pointer-events: none;
}

body[data-theme="light"] .cTitle::after {
  background-image: url("/underline-sketch-blue.png");
}
body[data-theme="dark"] .cTitle::after {
  background-image: url("/underline-sketch-pink.png");
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input,
textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: #2f204e;
}

input:focus,
textarea:focus {
  /* outline: 1px solid red; */
  outline: 1px solid var(--form-input-focus);
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formItem textarea {
  resize: none;
}

label {
  font-size: 13px;
  color: var(--text-secondary);
}

.formButton {
  background-color: #dd4c62;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.form-input-error {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #dd4c62;
}

/* .emailSuccessMessage,
.emailFailMessage {
  color: rgb(46, 197, 46);
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}
.emailFailMessage {
  color: red;
} */

@media (max-width: 1280px) {
  form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contacts {
    gap: 20px;
  }
  .cTitle svg {
    width: 60px;
    height: 60px;
    top: -15px;
  }
}

@media (max-width: 768px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
  }
  .cSection {
    width: 100%;
  }
  .cSection:first-child {
    height: 70%;
  }
  form {
    width: 80%;
  }
  .cSection:last-child {
    height: 30%;
    z-index: -1;
  }
}

@media (max-width: 450px) {
  .contacts {
    gap: 20px;
  }
  .cSection {
    padding: 0px;
    flex: 1;
  }
  .cSection:last-child {
    margin-bottom: 40px;
  }
  .cTitle {
    font-size: 20px;
  }
  .cTitle svg {
    width: 50px;
  }
  form {
    margin-top: 20px;
    width: 90%;
    height: 100%;
  }
  input,
  textarea {
    padding: 8px;
  }
  .formItem textarea {
    height: auto;
    max-height: 100px;
  }
  .formButton {
    padding: 15px 10px;
  }
}
