.heroSkeleton,
.hero {
  height: 100%;
  overflow: hidden;
  display: flex;
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.computer-model,
.computer-model-fallback {
  position: absolute !important;
  width: 34% !important;
  height: 50% !important;
  left: 0;
  right: 0;
  bottom: 100px;
  margin: auto;
}

.computer-model-fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.computer-model-fallback p {
  letter-spacing: 1px;
  font-weight: 500;
}

.theme-language-switch-container {
  display: flex;
  justify-content: self-start;
  align-items: self-end;
  gap: 30px;
}

.heroSection,
.heroSectionSkeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroSection.left,
.heroSectionSkeleton.leftSkeleton {
  flex: 1 1 50%;
}

.heroTitle,
.heroTitleSkeleton {
  margin-top: 50px;
}

.heroTitle {
  font-size: 100px;
  font-weight: 700;
  color: var(--text-emphasis);
}

.heroTitle span {
  color: var(--text-primary);
}

.location-container {
  margin: 10px 0;
  color: var(--text-secondary);
}

.location-container span {
  margin: 0 0 0 6px;
}

.location-container svg {
  width: 24px;
  height: 24px;
  fill: var(--text-secondary);
}

.stack-text {
  color: var(--text-secondary);
  margin: 8px 0;
}

.awardsSkeleton,
.awards {
  width: 30%;
}

.awards p {
  /* font-size: 14px; */
  /* color: var(--text-secondary); */
  /* margin: 16px 0; */
}

.awardList,
.awardListSkeleton {
  display: flex;
  gap: 8px;
}

.awardList img {
  width: 36px;
  height: 36px;
  padding: 8px;
  background-color: white;
  border-radius: 100%;
}

.scroll {
  margin-bottom: 50px;
  width: max-content;
  border: none;
  background: none;
  cursor: pointer;
}

.heroSection.right,
.heroSectionSkeleton.rightSkeleton {
  flex: 1 1 50%;
  justify-content: space-between;
  align-items: end;
}

.follow,
.follow-in-small-screen {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: var(--follow-container);
  border-bottom-right-radius: 10px;
}

.follow-in-small-screen {
  display: none;
  flex-direction: row;
}

/* .follow img {
  width: 20px;
  height: 20px;
} */

.followTextContainer {
  width: 20px;
  height: 20px;
}

.followText {
  /* background-color: var(--follow-text); */
  background-color: #dd4c62;
  color: white;
  font-size: 12px;
  rotate: 90deg;
  transform-origin: left top;
  width: max-content;
  height: 100%;
  transform: translateY(-22px);
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 10px;
}

.email-icon,
.linkedin-icon,
.github-icon,
.telegram-icon {
  transition: all 0.3s ease-in-out;
}

.email-icon:hover,
.linkedin-icon:hover,
.github-icon:hover,
.telegram-icon:hover {
  color: var(--text-emphasis);
}

.email-icon {
  color: var(--text-secondary);
}
.telegram-icon {
  color: #29b6f6;
}

.linkedin-icon {
  color: #0e76a8;
}

.github-icon {
  color: var(--text-secondary);
}

.bubbleContainer,
.bubbleSkeletonContainer {
  width: 50%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: end;
}

.bubble {
  width: 100%;
  /* height: 100px; */
  background-color: white;
  padding: 10px;
  border-radius: 20px 20px 0px 20px;
}

/* body[data-lang="ua"] .bubble {
  height: 114px;
} */

.bubble-text {
  font-size: 16px;
  color: #2f204e;
  text-align: justify;
}

.bubble-text span {
  color: var(--text-emphasis);
}

.bubbleContainer img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: contain;
  object-position: 7px 2px;
  background-color: #dd4c62;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  padding: 0 12px;
}

.download-svg {
  transition: all 0.3s ease-in-out;
  fill: var(--text-secondary);
}

.resume:hover p {
  color: var(--text-emphasis);
}
.resume:hover .download-svg {
  fill: var(--text-emphasis);
}

.certificateSkeletonContainer {
  justify-content: center;
  align-items: center;
}

.resume p {
  text-align: center;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-secondary);
}

.resume img {
  width: 70px;
  height: 70px;
}

.contactLink {
  cursor: pointer;
}

.contactLinkContainer {
  position: relative;
  margin: 0 12px 50px 0;
}

.circleText {
  letter-spacing: 3px;
  font-size: 20px;
}

.contactButton {
  position: relative;
}

.wave-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.wave-btn::before,
.wave-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background: var(--wave-btn-background);
  box-shadow: var(--wave-btn-box-shadow);
  animation: wave 7s linear infinite;
  opacity: 0;
  transition: 0.3s;
}

.wave-btn::after {
  animation-delay: 1.5s;
}
.wave-btn:hover::before,
.wave-btn:hover::after {
  animation: none !important;
  box-shadow: none !important;
}

@keyframes wave {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  30% {
    width: 107%;
    height: 107%;
    opacity: 1;
  }
  60% {
    width: 115%;
    height: 115%;
    opacity: 0;
  }
  100% {
    width: 115%;
    height: 115%;
    opacity: 0;
  }
}

.arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1536px) {
  .heroTitle {
    font-size: 72px;
  }
  .bubbleContainer,
  .bubbleSkeletonContainer {
    width: 65%;
  }
}

@media (max-width: 1280px) {
  .heroTitle {
    font-size: 88px;
  }
  .bg {
    height: 60%;
    top: auto;
    bottom: 0;
  }
  .bubbleContainer,
  .bubbleSkeletonContainer {
    width: 80%;
  }
  .awards,
  .awardsSkeleton {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .bg {
    height: 50%;
  }
  .heroTitle {
    font-size: 50px;
  }
  .bubbleContainer,
  .bubbleSkeletonContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .computer-model {
    display: none;
  }

  .hero,
  .heroSkeleton {
    flex-direction: column;
    gap: 30px;
  }

  .dark-mode {
    margin: 0 !important;
  }
  /* .bg {
    height: 60%;
  } */
  .heroSection.left,
  .heroSection.right,
  .heroSectionSkeleton.leftSkeleton {
    /* flex: 1 1 50%; */
    height: 50%;
    align-items: center;
    text-align: center;
    gap: 30px;
  }

  .heroSection.right,
  .heroSectionSkeleton.rightSkeleton {
    /* flex: 1 1 50%; */
    justify-content: end;
  }

  .heroTitle {
    font-size: 48px;
    margin: 0;
  }
  .heroTitleSkeleton span {
    width: 220px !important;
    height: 100px !important;
  }
  .awards,
  .awardsSkeleton {
    width: 100%;
  }
  .awardList,
  .awardListSkeleton {
    justify-content: center;
  }

  /* .follow,
  .bubbleContainer,
  .resume,
  .bg {
    display: none;
  } */
  .follow,
  .bg {
    display: none;
  }

  .bubbleContainer,
  .bubbleSkeletonContainer {
    width: 80%;
  }
  .bubbleContainer,
  .bubbleSkeletonContainer {
    max-width: 400px;
  }

  .followSkeletonContainer {
    display: none;
  }

  .bubbleSkeletonContainer {
    display: none;
  }

  .contactLinkContainer {
    /* margin: 0; */
    align-self: end;
  }

  .scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  }

  .follow-in-small-screen {
    display: flex;
    padding: 8px 12px 5px 12px;
  }

  .followText {
    font-size: 12px;
    rotate: 0deg;
    transform: translateY(2px);
  }
}

@media (max-width: 450px) {
  .heroTitle {
    font-size: 36px;
  }
  .heroTitle svg {
    width: 55px;
  }
  .bubbleContainer,
  .bubbleSkeletonContainer {
    width: 100%;
  }
  .bubble-text {
    font-size: 14px;
  }
  .resume img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .hero {
    gap: 15px;
  }
  .resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .resume img {
    width: 35px;
    height: 35px;
  }
  .contactLinkContainer {
    margin: 0 8px 12px 0;
  }
  .contactLinkContainer svg {
    width: 100px;
    height: 100px;
  }
  .arrow svg {
    width: 30px;
    height: 30px;
  }
  .scroll svg {
    width: 35px;
    height: 35px;
  }
  .heroSection.left {
    flex: 1 1 60%;
    gap: unset;
  }
  .heroSection.right {
    flex: 1 1 40%;
    gap: unset;
    justify-content: space-between;
  }
}
