.mouse-trail-area {
  position: relative;
  /* overflow: hidden; */
  cursor: none;
  /* Allow scroll if techStackList is too big */
  overflow-x: scroll;
  /* padding: 50px 0px; */
}

.cursor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: 999;
}

.circle {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.mouse-trail-area:hover .circle {
  opacity: 1;
}
